# Keil user-specific files
*.uvopt
*.uvgui.*
*.bak
*.dep

# AI prompts
CLAUDE.md
AGENTS.md
claude/settings.local.json
.claude/settings.local.json
.codex
.claude
.cursor
.trellis

# VS Code
.vscode/settings.json

# Build outputs
out_file/
*.hex
*.bin
*.lst
*.map
*.opt

#Git
.git/
